{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>登陆</title>
    <link rel="stylesheet" href="{% static 'identity/css/style.css' %}">
</head>
<body>
<div class="login-container">
    <h1>ShareLink</h1>
    <div class="connect">
        <p>Link the world. Share to world.</p>
    </div>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for obj in forms_obj %}
            <div>
                {{ obj }}
                <span style="color: red;margin-left: 0">{{ obj.errors.0 }}</span>
            </div>
        {% endfor %}
        <button id="submit" type="submit">登 陆</button>
    </form>
    <a href="{% url 'app01:register' %}">
        <button type="button" class="register-tis">还有没有账号？</button>
    </a>
</div>
<script src="{% static 'identity/js/jquery.min.js' %}"></script>
<script src="{% static 'identity/js/common.js' %}"></script>
<script src="{% static 'identity/js/supersized.3.2.7.min.js' %}"></script>
<script src="{% static 'identity/js/supersized-init.js' %}"></script>
<script src="{% static 'identity/js/jquery.validate.min.js' %}"></script>
</body>
</html>