{% extends "page_template.html" %}

{% block title %}
    {% if cid %}
        编辑报名信息页面
    {% else %}
        添加报名信息页面
    {% endif %}
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in fields %}
            <div class="form-group col-md-6">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <span style="color: red">{{ field.errors.0 }}</span>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">保存</button>
    </form>
{% endblock %}
